# Exclude specific files
token
weather_app.log
history
terraform
helm_chart
ArgoCD

# Exclude virtual environment
venv/

# Exclude Python cache files
__pycache__/

# Additional exclusions (optional)
*.pyc
*.pyo


