# Exclude specific files
weather_app.log
history
helm_chart
# .env
# ArgoCD

# Exclude virtual environment
venv/

# Exclude Python cache files
__pycache__/

# Additional exclusions (optional)
*.pyc
*.pyo

# Ignore Terraform provider binaries
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

